# Virtual Environment
.venv/

# Python
__pycache__/
*.py[cod]
*.pyo

# Environment Variables
.env

# Flask
instance/

# VS Code
.vscode/

# Logs
*.log

# Pytest
.pytest_cache/

# Uploads
uploads/

# macOS
.DS_Store